<ion-content>
  <div text-center class="m-t-11-4">
    <img class="logo" src="assets/imgs/logo_fin.png">
    <!--<h1 class="logo" style="font-family: Time;">FININ</h1>-->
  </div>

  <div class="p-x-28 m-t-10">
    <form [formGroup]="loginForm" (ngSubmit)="loginClick()">
      <div class="g-form-group">
        <input formControlName="username" type="email" placeholder="Username" [(ngModel)]="user.username"
               [ngClass]="{'error': usernameError}" (focusout)="usernameFocusOut($event)">
      </div>
      <div class="g-form-group">
        <input formControlName="password" placeholder="Password" type="password" [(ngModel)]="user.password">
      </div>
      <button class="login-btn roboto-medium"
              [disabled]="(controls?.username?.errors || controls?.password?.errors) ? 'true' : null">Login
      </button>
    </form>
  </div>
</ion-content>
<div color="light-gray" text-center class="custom-footer">
  <div class="p-x-32">
    <label class="footer-label color-gray-brown roboto-regular"> Dont't have an account? <a
      class="color-gray-brown roboto-regular" (click)="signup()"><b>Signup</b></a></label>
  </div>
</div>
