<ion-content>
  <ion-buttons mode="ios" start>
    <button clear ion-button icon-only (click)="closeRegisterPage()">
      <img src="assets/icons/close-redeem.svg">
    </button>
  </ion-buttons>
  <div text-center>
    <img class="logo" src="assets/imgs/logo_fin.png">
  </div>

  <div class="p-x-28 m-t-10">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="g-form-group">
        <input formControlName="name" type="text" placeholder="Name" [(ngModel)]="user.name"
               [ngClass]="{'error': errorMessage == 'name'}" (focusout)="errorFocusOut($event)">
      </div>
      <div class="g-form-group">
        <input formControlName="surname" type="text" placeholder="Surname" [(ngModel)]="user.surname"
               [ngClass]="{'error': errorMessage == 'surname'}" (focusout)="errorFocusOut($event)">
      </div>
      <div class="g-form-group">
        <input formControlName="username" type="email" placeholder="Email" [(ngModel)]="user.username"
               [ngClass]="{'error': errorMessage == 'username'}" (focusout)="errorFocusOut($event)">
      </div>
      <div class="g-form-group">
        <input formControlName="phone" type="text" placeholder="Phone number" [(ngModel)]="user.phone"
               [ngClass]="{'error': errorMessage == 'phoneNumber'}" (focusout)="errorFocusOut($event)">
      </div>
      <div class="g-form-group">
        <input formControlName="password" placeholder="Password" type="password" [(ngModel)]="user.password"
               [ngClass]="{'error': errorMessage == 'password'}" (focusout)="errorFocusOut($event)">
      </div>
      <button class="login-btn roboto-medium"
              [disabled]="(controls?.username?.errors || controls?.password?.errors) ? 'true' : null">Register
      </button>
    </form>
  </div>
</ion-content>
<div color="light-gray" text-center class="custom-footer">
  <div class="p-x-32">
    <label class="footer-label color-gray-brown roboto-regular">Already have an account? <a
      class="color-gray-brown roboto-regular" (click)="signIn()"><b>Login</b></a></label>
  </div>
</div>
