page-register {
  .logo {
    height: 10vh;
    color: color($colors, primary);
    font-size: 44px;
    letter-spacing: 2.5px;
  }

  .page-title {
    font-size: 20px;
    letter-spacing: 0.25px;
    color: color($colors, dark);
  }

  .input {
    font-size: 16px;
    letter-spacing: 0.15px;
    height: 48px;
  }

  .login-input-pass {
    font-size: 16px;
    letter-spacing: 0.15px;
    height: 48px;
    padding-top: 9px;
    padding-bottom: 38px;
  }

  .login-btn {
    width: 100%;
    height: 48px;
    background-color: color($colors, primary);
    color: color($colors, white);
    letter-spacing: 0.5px;
    font-size: 12px;
    border-radius: 4px;
    line-height: 16px;
    margin-top: 4px;
  }


  button[disabled] {
    color: rgba(250, 250, 250, 0.42);
    opacity: 1;
  }


  .scroll-content {
    -webkit-overflow-scrolling: auto !important;
  }

  .custom-footer {
    bottom: 0;
    position: fixed;
    height: 7.5vh;
    width: 100%;
    z-index: 9999;
    background-color: color($colors, light-gray);
  }

  .footer-label {
    line-height: 7.5vh;
  }

}
