<ion-header>

  <ion-navbar color="primary">
    <ion-title>Transaction list</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/icons/filter_list.svg">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list style="margin-bottom: 0px">
    <div *ngFor="let group of groupedTransactions">
      <ion-item-divider class="roboto-medium ion-item-divider" color="white">{{group.title}}</ion-item-divider>
      <ion-item class="p-x-16" *ngFor="let trans of group.transactions">
        <h2 class="roboto-regular list-title">Transaction number</h2>
        <p class="roboto-regular list-title-2">00000000{{trans?.id}}</p>
        <div item-end style="text-align: right">
          <h2 class="roboto-regular list-title-amount" [ngClass]="{'green': trans?.transactionType == 1, 'red': trans?.transactionType == 2}">+ {{trans?.amount}} {{trans?.currency}}</h2>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<page-fab-button></page-fab-button>
