page-trans-list {
  .ion-item-divider {
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 2px !important;
    color: rgba(0,0,0,0.6);
  }

  .list-title-amount {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .list-title-2 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .green {
    color: #32db64;
  }

  .red {
    color: #D03731;
  }

}
