<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>My Deposits</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="deposites.length === 0" text-center style="margin-top: 20vh">
        <h3 style="color: #696868;">You haven't any deposit.</h3>
        <h4 style="color: #696868;">Please click
                <ion-icon style="padding: 5px; background-color: #1976d2; color: white;" name="md-apps"></ion-icon>
            to start :)
        </h4>
    </div>
    <ion-card *ngFor="let deposit of deposites">
        <ion-card-header (click)="depositClick(deposit?.id)">
            <label style="font-size: 2rem; color: #1976d2">DT-{{1000 + deposit?.id}}: {{deposit?.amount}}
                {{deposit.depositPeriodResponse.currency}}</label>
            <label style="float: right;">Total: {{deposit.amount + (deposit.amount *
                deposit.depositPeriodResponse.percent / 100)}} {{deposit.depositPeriodResponse.currency}}</label>
        </ion-card-header>
        <ion-card-content>
            <canvas id="deposit-{{deposit.id}}"></canvas>
        </ion-card-content>
    </ion-card>
    <div style="height: 50px;"></div>
</ion-content>
<page-fab-button></page-fab-button>
