<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{deposit.amount}} {{deposit.currency}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="bg">
    <div class="p-x-16" style="margin-top: 2vh">
        <img style="min-width: 100% !important;" [src]="cardImage"/>
        <ion-fab right class="pop-in" [ngClass]="{'pop-out': fabGone}" style="top: 19rem;">
            <button ion-fab mini (click)="scanCard()" color="dark">
                <ion-icon name="camera"></ion-icon>
            </button>
        </ion-fab>
    </div>
    <div class="p-x-16 form-area">
        <ion-grid>
            <ion-row>
                <ion-col col-12 class="no-padding-x">
                    <ion-input class="card-input" placeholder="1234 4567 7890 9876" type="text"
                               [(ngModel)]="card.cardNumber"></ion-input>
                    <ion-icon name="ios-card"></ion-icon>
                </ion-col>
                <ion-col col-6 class="no-padding-left">
                    <ion-input class="card-input" placeholder="01" type="text"
                               [(ngModel)]="card.expiryMonth"></ion-input>
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-col>
                <ion-col col-6 class="no-padding-right">
                    <ion-input class="card-input" placeholder="20" type="text"
                               [(ngModel)]="card.expiryYear"></ion-input>
                    <ion-icon style="left: 18px !important;" name="md-calendar"></ion-icon>
                </ion-col>
                <ion-col col-6 class="no-padding-left" text-center>
                    <div class="card-block" readonly>
                        <img *ngIf="card.cardType === 'MasterCard' || card.cardNumber.startsWith('5')" src="assets/imgs/mc.png"/>
                        <img *ngIf="(card.cardType === 'Visa' || card.cardNumber.startsWith('4') || card.cardType === '') && !card.cardNumber.startsWith('5') " class="extra-padding" src="assets/imgs/visa.png"/>
                    </div>
                </ion-col>
                <ion-col col-6 class="no-padding-right">
                    <ion-input class="card-input" placeholder="123" type="text" [(ngModel)]="card.cvv"></ion-input>
                    <ion-icon style="left: 18px !important;" name="md-lock"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!--<div class="p-x-16" style="background-color: white">-->
        <!--<ion-item>-->
            <!--<ion-label>Card Type</ion-label>-->
            <!--<ion-input type="text" [(ngModel)]="card.cardType"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
            <!--<ion-label>Card Number</ion-label>-->
            <!--<ion-input type="text" [(ngModel)]="card.cardNumber"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
            <!--<ion-label>Expiry Month</ion-label>-->
            <!--<ion-input type="text" [(ngModel)]="card.expiryMonth"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
            <!--<ion-label>Expiry Year</ion-label>-->
            <!--<ion-input type="text" [(ngModel)]="card.expiryYear"></ion-input>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
            <!--<ion-label>CVV</ion-label>-->
            <!--<ion-input type="text" [(ngModel)]="card.cvv"></ion-input>-->
        <!--</ion-item>-->
    <!--</div>-->
</ion-content>
<button full style="position: fixed; bottom: 0; height: 48px; z-index: 9" ion-button (click)="pay()" class="btn-cs roboto-medium" color="primary">Pay</button>
