page-payment {
  .btn-cs {
    font-size: 16px;
    line-height: 19px;
    color: color($colors, white);
    padding-left: 0;
    padding-right: 0;
    border: none !important;
    text-transform: none;
    height: 48px;
    margin-top: 3vh;
    margin-bottom: 0;
  }
  .card-input, .card-block {
    height: 48px;
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .no-padding-x {
    padding-right: 0;
    padding-left: 0;
  }
  .no-padding-left {
    padding-left: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .card-block[readonly] {
    background-color: transparent;
  }
  .card-block[readonly] img {
    padding: 8px;
    height: 100%;
  }
  .extra-padding {
    padding: 14px !important;
  }
  .form-area ion-col {
    position: relative;
  }
  ion-input + ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 55px;
    font-size: 32px;
    color: #faa600;
  }
  .card-input {
    padding-left: 38px;
  }
}
