.m-t-6 {
  margin-top: 6vh;
}

.m-t-6-4 {
  margin-top: 6.4vh;
}

.m-t-6-25 {
  margin-top: 6.25vh;
}

.m-t-3-75 {
  margin-top: 3.75vh;
}

.m-t-11-4 {
  margin-top: 11.4vh;
}

.m-t-5 {
  margin-top: 8vh;
}

.m-t-5-0 {
  margin-top: 5vh;
}

.m-t-10 {
  margin-top: 10vh;
}

.m-t-2-5 {
  margin-top: 2.5vh;
}

.m-t-17 {
  margin-top: 16.8125vh;
}

.m-x-8 {
  margin: 0 8px;
}

.m-x-12 {
  margin: 0 12px;
}

.m-t-7-8 {
  margin-top: 4vh;
}

.no-margin {
  margin: 0 !important;
}

//paddings
.p-x-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.p-x-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.p-x-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.p-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-x-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-x-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-y-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// fonts
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Roboto-Regular.woff') format('woff'), url('../assets/fonts/Roboto-Regular.ttf') format('truetype'), url('../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Roboto-Medium.woff') format('woff'), url('../assets/fonts/Roboto-Medium.ttf') format('truetype'), url('../assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Medium';
  src: url('../assets/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/SFUIText-Medium.woff') format('woff'), url('../assets/fonts/SFUIText-Medium.ttf') format('truetype'), url('../assets/fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hinted-ProximaNovaW08-Bold';
  src: url('../assets/fonts/hinted-ProximaNovaW08-Bold.woff') format('woff'), url('../assets/fonts/hinted-ProximaNovaW08-Bold.svg#hinted-ProximaNovaW08-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

.roboto-medium, .roboto-medium * {
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 500 !important;
}

.roboto-regular, .roboto-regular * {
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.roboto-bold, .roboto-bold * {
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

.sfuitext-medium, .sfuitext-medium * {
  font-family: 'SFUIText-Medium' !important;
}

.proximaNovaW08-Bold, .proximaNovaW08-Bold * {
  font-family: 'hinted-ProximaNovaW08-Bold' !important;
}

/* COMPONENTS */
.g-form-group {
  padding: 8px 4px;
  margin-bottom: 8px;
  position: relative;
}

.g-form-group input {
  border-width: 0 0 1px 0;
  border-color: #d8d8d8;
  min-height: 32px;
  line-height: 24px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.15px;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.input-with-border {
  border-width: 0 0 1px 0;
  border-color: #d8d8d8;
  min-height: 32px;
  line-height: 24px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.15px;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.input-without-border {
  border: none;
  border-color: #d8d8d8;
  min-height: 32px;
  line-height: 24px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.15px;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.g-form-group div.input-icon {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 101;
}

.g-form-group div.input-icon-top {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 101;
}

.g-form-group button.input-icon {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 101;
}

.input-icon-text {
  color: rgba(0, 0, 0, 0.38);
  font-size: 16px;;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: right;
}

::placeholder {
  color: rgba(0, 0, 0, 0.38);
  opacity: 1;
}

//Popup menu css
ion-badge {
  right: calc(50% - 30px) !important;
  top: -5px;
  position: absolute;
  right: 4%;
  padding: 1px 6px;
  height: auto;
  font-size: 12px;
  line-height: 16px;
}

.popup-menu ion-icon {
  text-align: center;
  color: white;
  font-size: 2.5em;
}

.popup-menu-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
  background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
}

.popup-menu-overlay.in {
  opacity: 1;
  visibility: visible;
}

.popup-menu-toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  background-color: color($colors, primary);
  border-radius: 50%;
  z-index: 101;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.popup-menu-toggle:before {
  position: absolute;
  content: '\f10a';
  font-family: "Ionicons";
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  color: white;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-menu-toggle.out {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.popup-menu-toggle.out:before {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.popup-menu-panel {
  position: fixed;
  width: 300px;
  height: 180px;
  border-radius: 5%;
  bottom: 20px;
  left: 50%;
  margin-left: -150px;
  padding: 0px 5px;
  background-color: color($colors, primary);
  z-index: 102;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.popup-menu-panel .popup-menu-item {
  margin: auto;
  -webkit-box-flex: 1 0 30%;
  -webkit-flex: 1 0 30%;
  -moz-box-flex: 1 0 30%;
  -moz-flex: 1 0 30%;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.popup-menu-panel .popup-menu-item i {
  margin: auto 0px 5px 0px;
  padding: 0px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.popup-menu-panel .popup-menu-item span {
  padding: 0px;
  margin: 0px 0px auto 0px;
  color: white;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 11px;
}

.popup-menu-panel .popup-menu-item:active i {
  color: rgb(221, 65, 53);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.popup-menu-panel .popup-menu-item:active span {
  color: rgb(221, 65, 53);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.popup-menu-panel.in {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.popup-menu-panel.in .popup-menu-item {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

//colors
.color-gray-brown {
  color: color($colors, gray-brown)
}

.bg {
  background: #f9f9f9
}

.dark-color {
  color: color($colors, dark) !important;
}

.primary-color {
  color: color($colors, primary) !important;
}

.gray-brown-color {
  color: color($colors, gray-brown) !important;
}

/* ERROR CLASSES */
.error {
  border-bottom: 2px solid #b00020 !important;
}

