<ion-header>

  <ion-navbar color="primary">
    <ion-title>Account details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveClick()">
        <img src="assets/icons/check.svg">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <form [formGroup]="accountForm">
    <div class="p-x-16" style="background-color: white; margin-top: 10px;">
      <div class="input-title">
        <label class="roboto-regular">Profile</label>
      </div>
      <div class="g-form-group padding-x-none">
        <input formControlName="name" type="text" placeholder="Name" [(ngModel)]="account.name">
      </div>
      <div class="g-form-group padding-x-none">
        <input formControlName="surname" type="text" placeholder="Surname" [(ngModel)]="account.surname">
      </div>
      <div class="g-form-group padding-x-none">
        <input formControlName="serial" type="text" placeholder="Seria ex.12345678" [(ngModel)]="account.serial">
      </div>
      <div class="g-form-group padding-x-none">
        <input formControlName="fin" type="text" placeholder="FIN CODE" [(ngModel)]="account.fin">
      </div>
    </div>

    <div class="p-x-16" style="background-color: white; margin-top: 10px;">
      <div class="input-title">
        <label class="roboto-regular">Account</label>
      </div>
      <div class="g-form-group padding-x-none">
        <label>{{account?.email}}</label>
      </div>
      <div class="g-form-group padding-x-none">
        <input formControlName="phone" type="text" placeholder="Phone" [(ngModel)]="account.phone">
      </div>
    </div>
    <div style="height: 50px"></div>
  </form>
</ion-content>
<page-fab-button></page-fab-button>
