page-add-deposit {
  .input-title {
    font-size: 14px;
    line-height: 20px !important;
    letter-spacing: 0.25px;
    color: color($colors, primary) !important;
    padding-top: 13px;
    margin-bottom: 15px;
  }

}
