<ion-header>

  <ion-navbar color="primary">
    <ion-title>New deposit</ion-title>
    <ion-buttons end>
      <button class="roboto-medium" style="font-size: 17px;letter-spacing: 0.05px;" ion-button icon-only (click)="nextClick()">Next
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg" style="margin-bottom: 50px">

  <ion-list>
    <ion-item class="p-x-16" style="height: 48px">
      <ion-label class="roboto-regular primary-color">Month</ion-label>
      <ion-select (ionChange)="calculateDeposit()" [(ngModel)]="period" interface="popover" class="roboto-regular gray-brown-color">
        <ion-option value="12">12</ion-option>
        <ion-option value="18">18</ion-option>
        <ion-option value="24">24</ion-option>
        <ion-option value="30">30</ion-option>
        <ion-option value="36">36</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="p-x-16" style="height: 48px">
      <ion-label class="roboto-regular primary-color">Currency</ion-label>
      <ion-select (ionChange)="calculateDeposit()" [(ngModel)]="currency" interface="popover" class="roboto-regular gray-brown-color">
        <ion-option value="AZN">AZN</ion-option>
        <ion-option value="USD">USD</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item class="no-border p-x-16">
    <h2 class="roboto-regular primary-color">Interest rate</h2>
    <div item-end>
      <h2 class="roboto-regular gray-brown-color">{{percent}}%</h2>
    </div>
  </ion-item>

  <div class="p-x-16" style="background-color: white; margin-top: 10px;">
    <div class="input-title">
      <label class="roboto-regular">Amount</label>
    </div>
    <div class="g-form-group padding-x-none">
      <input (keyup)="calculateDeposit()" type="number" placeholder="Minimum amount 500 AZN" [(ngModel)]="amount">
    </div>
  </div>

  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <div style="background-color: white; height: 100px; border-radius: 10px;-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);">
          <div>
            <h2 style="margin-top: 0;" class="roboto-regular primary-color input-title">Monthly interest rate</h2>
            <h2 class="roboto-regular gray-brown-color">{{monthlyInterest}} {{currency}}</h2>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div style="background-color: white;  height: 100px; border-radius: 10px;-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);">
          <div>
            <h2 style="margin-top: 0;" class="roboto-regular primary-color input-title">End of period</h2>
            <h2 class="roboto-regular gray-brown-color">{{endOfPeriodInterest}} {{currency}}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col>
        <div style="background-color: white; height: 100px; border-radius: 10px;-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);">
          <div>
            <h2 style="margin-top: 0;" class="roboto-regular primary-color input-title">Total amount</h2>
            <h2 class="roboto-regular gray-brown-color">{{totalAmount}} {{currency}}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="height: 50px"></div>
</ion-content>
<page-fab-button></page-fab-button>
