page-deposit-calculator {
  .body {
    background-color: #f9f9f9;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30vh 0 0 0;
  }
  .currency-area {
    width: 40%;
    margin: auto;
  }
  .list-header {
    border-top: 0;
    background-color: transparent;
  }
  ion-list-header ion-label{
    margin: 0 !important;
    color: #333333;
  }

  .item-block {
    line-height: 7rem;
    height: 7rem;
  }
  .screen {
    height: 34vh;
    background: #1976d2;
    border-radius: 50%;
    position: absolute;
    width: 120vw;
    top: -100px;
    left: -10vw;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
  }
  .screen-header {
    position: relative;
    height: calc(40vh - 90px);
    width:100%;
  }
  .screen-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20vh;
    z-index: 2;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  ion-badge {
    right: 10px !important;
    top: 4px;
  }
}
