<ion-content>
    <div class="screen-header">
        <div class="screen"></div>
        <div class="screen-text">{{total}} {{currency}}</div>
    </div>
    <div class="body">
        <div class="currency-area">
        <ion-segment mode="ios" (ionChange)="calculate()" [(ngModel)]="currency">
            <ion-segment-button value="AZN">
                AZN
            </ion-segment-button>
            <ion-segment-button value="USD">
                USD
            </ion-segment-button>
        </ion-segment>
        </div>
        <ion-list mode="ios">
            <ion-list-header no-margin>
                AMOUNT <ion-badge item-right>{{amount}}</ion-badge>
            </ion-list-header>
            <ion-item>
                <ion-range (ionChange)="calculate()" no-padding mode="ios" min="100" step="10" max="10000" [(ngModel)]="amount">
                    <ion-label range-left class="small-text">100</ion-label>
                    <ion-label range-right>10000</ion-label>
                </ion-range>
            </ion-item>
        </ion-list>

        <ion-list mode="ios">
            <ion-list-header no-margin>
                Month
                <ion-badge item-end>{{month}}</ion-badge>
            </ion-list-header>
            <ion-item>
                <ion-range (ionChange)="calculate()" snaps="true" no-padding mode="ios" min="12" step="6" max="36" [(ngModel)]="month">
                    <ion-label range-left class="small-text">12</ion-label>
                    <ion-label range-right>36</ion-label>
                </ion-range>
            </ion-item>
        </ion-list>
    </div>
  <div style="height: 50px"></div>
</ion-content>
<page-fab-button></page-fab-button>

