<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
  <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" (click)="goToPage('main')">
      <ion-icon name="home"></ion-icon>
      <span>HOME</span>
    </div>
    <div class="popup-menu-item" (click)="goToPage('add-deposit')">
      <ion-icon name="add"></ion-icon>
      <span>Add</span>
    </div>
    <div class="popup-menu-item" (click)="goToPage('deposit-calculator')">
      <ion-icon name="calculator"></ion-icon>
      <span>Calc</span>
    </div>
    <div class="popup-menu-item" (click)="goToPage('account')">
      <ion-icon name="person"></ion-icon>
      <span>Account</span>
    </div>
    <div class="popup-menu-item" (click)="goToPage('trans-list')">
      <ion-icon><img style="max-width: 33% !important;" src="assets/icons/statistics.svg"></ion-icon>
      <span>Trans</span>
    </div>
    <div class="popup-menu-item" (click)="goToPage('log-out')">
      <ion-icon name="power" ios="ios-power"></ion-icon>
      <span>Log out</span>
    </div>
  </div>
</div>
